.hero {
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  gap: 1rem;

  padding: 0 1rem;
}

/* Wrapper action buttons */
.hero-actions {
  margin-top: 1.5rem;

  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: center;
}
