.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 1rem;

  padding: 0.75rem 2rem;
  background-color: #0f172a;
  color: #e5e7eb;
  gap: 2rem;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Inter,
    Helvetica,
    Arial,
    sans-serif;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* logo & text */

  text-decoration: none;
  color: inherit;
}

/* Logo */
.angular-logo {
  height: 24px;
  width: auto;
}

/* Navigation links wrapper */
.nav-links {
  display: flex;
  align-items: center;
  gap: 1.25rem; /* Home & About */
}

/* Links */
.nav-links a {
  font-size: 0.9rem;
  font-weight: 500;

  color: #cbd5e1;
  text-decoration: none;

  padding-bottom: 2px;
  transition:
    color 0.2s ease,
    border-color 0.2s ease;
}

/* Active route */
.nav-links a.active {
  color: #e5e7eb;
  border-bottom: 2px solid #e5e7eb;
}

/* Hover */
.nav-links a:hover {
  color: #f1f5f9;
}
